<h5 class="tag">Thông tin đơn hàng</h5>
@if (invoice.Products is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container info-cart">
        @foreach (var item in invoice.Products)
        {
            <div class="row product-oforder">
                <div class="col-1">
                    <img class="img-product" src="@item.Image" />
                </div>
                <div class="col-4">
                    <div class="product-info">
                        <p><b>@item.Name</b></p>
                        @item.Price
                    </div>
                </div>
                <div class="col-5">
                    <div class="input-group mb-3 row">
                        <div class="col-9">
                            <input type="text" class="form-control frm-quantity" value="@item.Quantity" aria-describedby="button-addon2" @oninput="(e)=>QuantityValueChanged(e,item)">
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2 minus" @onclick="()=>MinusQuantity(item)">-</button>
                            </div>
                            <div class="row">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2 plus" @onclick="()=>PlusQuantity(item)">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <p class="price"><b>@(item.Quantity*item.Price)</b></p>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-6">
                <p class="total-product"><b>Tổng: @invoice.TotalProduct</b></p>
            </div>
            <div class="col-6">
                <a class="btn btn-total-price" href="./thanh-toan" @onclick="CreateCart"><b>Tổng: @invoice.TotalPrice</b></a>
            </div>
        </div>
    </div>
}