<div class="head">
    <Search IsOrder="@isOrder" HandleOrderProduct="HandleOrderProduct" isCountOrder="@isCountOrder"/>
</div>

<div class="page">
@*    <div class="sidebar @(!isOrder ? "d-block" : "d-none")">
        <LeftBar products="@products" HandleGetAllProduct="HandleGetAllProduct" />
    </div>*@
    <div class="list-product-page">
        <ListProduct  HandleOrderProductToBill="HandleOrderProductToBill" products="@products"/>
    </div>
    <div class="bill @(isOrder ? "d-block" : "d-none")">
        <Bill productOrder="@productOrder" isCountOrder="@isCountOrder" HandleCountOrderChanged="HandleCountOrderChanged"/>
    </div>

</div>
